# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.sqlite3
*.log

# Virtual environment
.venv/
env/
venv/
*.env

# VSCode
.vscode/
*.code-workspace

# MacOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg
*.whl

# IDE / editors
.idea/
*.sublime-project
*.sublime-workspace
